@font-face {
	font-family: shin-go-r;
	src: url(../font/A-OTF-ShinGoPr6N-Regular.otf);
}
@font-face {
	font-family: shin-go-m;
	src: url(../font/A-OTF-ShinGoPr6N-Medium.otf);
}
@font-face {
	font-family: shin-go-db;
	src: url(../font/A-OTF-ShinGoPr6N-DeBold.otf);
}
@font-face {
	font-family: shin-go-b;
	src: url(../font/A-OTF-ShinGoPr6N-Bold.otf);
}
@font-face {
	font-family: shin-go-h;
	src: url(../font/A-OTF-ShinGoPr6N-Heavy.otf);
}

// --------------------------------
// event共通 (sub-header, band)
// --------------------------------
.event {
	.sub-header {
		.title {
			margin-bottom: 30px;
			color: #0d2e4f;
			font-family: vdl-gigajr;
			font-size: 48px;
			line-height: 2em;
			text-align: center;
			transform: skewX(-7deg);
		}

		.sh-link-wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.sh-link {
			width: 20%;
			max-width: 250px;
			aspect-ratio: 25/6;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: shin-go-db;
			font-size: clamp(16px, 2vw, 24px);
			color: #4e8465;
			background-image: url(../image/common/btn/bg_subhd_w_pc.png);
			background-size: contain;
			background-repeat: no-repeat;
			order: -1;
			cursor: pointer;
			&:nth-child(n + 2) {
				margin-left: 4vw;
			}
			// checked-link
			&:nth-child(2) {
				color: #fff;
				background-image: url(../image/common/btn/bg_subhd_pc.png);
			}
		}
	}

	.page-content {
		margin-top: 100px;
		.page-title {
			margin-bottom: 20px;
			color: #3e3e3e;
			font-family: shin-go-h;
			font-size: 65px;
			line-height: 1em;
			text-align: center;
		}

		.band {
			position: relative;
			color: #fff;
			font-family: shin-go-m;
			font-size: 34px;
			line-height: 1.2em;
			text-align: center;
		}
		.band:before {
			content: "";
			position: absolute;
			left: 50%;
			bottom: 0;
			width: 0;
			height: 100%;
			background-color: #0d2e4f;
			transform: translateX(-50%);
			animation: band_anim 1s cubic-bezier(0.34, 0.03, 0.26, 1.01) forwards;
			z-index: -1;
		}
		@keyframes band_anim {
			0% {
				width: 0%;
			}
			100% {
				width: 100%;
			}
		}
	}

	@media screen and (max-width: 1023px) {
		.sub-header {
			.title {
				margin-bottom: 20px;
				font-size: 36px;
			}
		}
		.page-content {
			margin-top: 80px;
			.page-title {
				margin-bottom: 16px;
				font-size: 48px;
			}
			.band {
				font-size: 26px;
			}
		}
	}

	@media screen and (max-width: 767px) {
		.sub-header {
			.title {
				margin-bottom: 15px;
				font-size: 24px;
			}
			.sh-link-wrapper {
				max-width: 400px;
				margin: auto;
			}
			.sh-link {
				width: 40%;
				font-family: shin-go-m;
				&:nth-child(2n + 1) {
					margin-left: 0;
				}
				&:nth-child(2n) {
					margin-left: 3vw;
				}
				&:nth-child(n + 3) {
					margin-top: 20px;
				}
			}
		}

		.page-content {
			margin-top: 40px;
			.page-title {
				margin-bottom: 10px;
				font-size: 32px;
			}
			.band {
				font-size: 18px;
			}
		}
	}
}
// --------------------------------
// event共通ここまで
// --------------------------------

/*共通*/
.only-pc {
	display: inline-block;
}
.only-sp {
	display: none;
}

.cafe-main {
	position: relative;
	width: 100%;
	margin-top: 100px;
	text-align: center;
	// bg-line
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 27.1%;
		max-width: 380px;
		height: 100%;
		top: 0px;
		background-image: url(../image/cafe/line_pc.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom left;
	}
	&::before {
		left: 0px;
		transform: rotate(180deg);
	}
	&::after {
		right: 0px;
	}
}
.cafe-btn-wrapper {
	position: relative;
	width: 328px;
	display: inline-block;
	margin: 114px auto 0 auto;
	// polygon
	&::before {
		content: "";
		position: absolute;
		width: 45px;
		height: 45px;
		top: -92px;
		left: 50%;
		transform: translateX(-50%);
		background-image: url(../image/common/icon/icon_pol_pc.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		transition: 0.3s;
	}
	.cafe-icon {
		width: 193.5px;
		margin: 0 auto 35px;
		transition: 0.3s;
	}
	.cafe-btn {
		width: 100%;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: shin-go-r;
		font-size: 22px;
		color: #fff;
		background-image: url(../image/common/btn/btn_more_pc.png);
		background-size: contain;
		background-repeat: no-repeat;
		.arrow {
			width: 14.5px;
			margin-left: 15px;
			transform: rotate(180deg);
		}
	}

	&:hover {
		.cafe-icon {
			opacity: 0.6;
		}
		&::before {
			transform: translateX(-50%) translateY(10px);
		}
	}
}

.cafe-cm {
	width: 80%;
	max-width: 800px;
	margin: 100px auto 150px;
	text-align: center;
	iframe {
		width: 100%;
		height: auto;
		aspect-ratio: 16/9;
	}
}

/*sp*/
@media screen and (max-width: 767px) {
	.only-pc {
		display: none;
	}
	.only-sp {
		display: block;
	}
	.cafe-main {
		margin-top: 40px;
		&::before,
		&::after {
			display: none;
		}
	}
	.cafe-btn-wrapper {
		width: 157px;
		margin-top: 32px;
		&::before {
			width: 20px;
			height: 20px;
			top: -32px;
		}
		.cafe-icon {
			width: 83px;
			margin-bottom: 10px;
		}
		.cafe-btn {
			height: 36px;
			font-size: 16px;
			background-image: url(../image/common/btn/btn_more_sp.png);
			.arrow {
				width: 12px;
				margin-left: 10px;
			}
		}
		&:hover {
			&::before {
				transform: translateX(-50%) translateY(6px);
			}
		}
	}
	.cafe-cm {
		width: 315px;
		margin: 40px auto 100px;
	}
}
