@font-face {
	font-family: shin-go-m;
	src: url(../font/A-OTF-ShinGoPr6N-Medium.otf);
}
@font-face {
	font-family: shin-go-db;
	src: url(../font/A-OTF-ShinGoPr6N-DeBold.otf);
}
.cmpc {
	display: block;
}
.cmsp {
	display: none !important;
}

.sub-header {
	.title {
		width: 300px;
		margin: 0 auto;
		margin-bottom: 30px;
		color: #0d2e4f;
		font-family: vdl-gigajr;
		font-size: 48px;
		line-height: 2em;
		text-align: center;
		transform: skewX(-7deg);
	}
	.sh-link-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.sh-link {
		width: 20%;
		max-width: 250px;
		aspect-ratio: 25/6;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: shin-go-db;
		font-size: clamp(16px, 2vw, 24px);
		color: #4e8465;
		background-image: url(../image/common/btn/bg_subhd_w_pc.png);
		background-size: contain;
		background-repeat: no-repeat;
		order: -1;
		transition: 0.3s;
		&:nth-child(2) {
			margin-left: 4vw;
		}
		&:nth-child(1) {
			color: #fff;
			background-image: url(../image/common/btn/bg_subhd_pc.png);
		}
	}
	@media screen and (max-width: 1023px) {
		.title {
			margin-bottom: 20px;
			font-size: 36px;
		}
	}
	@media screen and (max-width: 767px) {
		.title {
			margin-bottom: 15px;
			font-size: 24px;
		}
		.sh-link-wrapper {
			max-width: 400px;
			margin: auto;
		}
		.sh-link {
			width: 40%;
			font-family: shin-go-m;
			&:nth-child(2n) {
				margin-left: 3vw;
			}
		}
	}
}

.movie-container {
	width: 90%;
	max-width: 1184px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 116px auto 226px;
	.movie:nth-child(n + 4) {
		margin-top: 88px;
	}
	.movie {
		width: 32%;
		p {
			margin-top: 20px;
			font-size: 20px;
			font-family: shin-go-m;
			text-align: center;
		}
	}
}

@media screen and (max-width: 767px) {
	.cmpc {
		display: none !important;
	}
	.cmsp {
		display: block !important;
	}
	.movie-container {
		width: 315px;
		flex-direction: column;
		margin-top: 73px;
		margin-bottom: 60px;
		.movie {
			width: 100%;
			p {
				margin-top: 18px;
				font-size: 16px;
			}
			&:nth-child(2) {
				margin-top: 68px;
			}
		}
	}
	.icon {
		width: 22px;
		margin: 0 auto 62px;
	}

	/*カルーセル*/
	/*カルーセル*/
	.carousel {
		// arrow含む幅
		width: 315px;
		margin: 0 auto 150px auto;
		.slider {
			width: 100%;
			p {
				margin-top: 18px;
				font-family: shin-go-m;
				text-align: center;
			}
			.slick-arrow {
				width: 40px;
				height: 40px;
				top: auto;
				bottom: -80px;
				z-index: 5;
			}
			.slick-next {
				background: url("../image/common/btn/btn_r.png") no-repeat top/contain;
				right: 0px;
				&::before {
					content: "";
				}
			}
			.slick-prev {
				background: url("../image/common/btn/btn_l.png") no-repeat top/contain;
				left: 0px;
				&::before {
					content: "";
				}
			}
			.slick-dots {
				bottom: -50px;
				li {
					width: 13px;
					height: 13px;
					margin: 0 1px;
				}
				li button:before {
					color: #d9d9d9;
					opacity: 1;
				}
				li.slick-active button:before {
					color: #9fc771;
					opacity: 1;
				}
			}
		}
	}
}

// モーダル
.modaal-video-wrap {
	//動画表示時の横幅
	width: 90%;
	margin: auto;
	max-width: 960px;
}
/*動画表示のモーダルの余白を変更したい場合*/
.modaal-video .modaal-inner-wrapper {
	padding: 0;
}

/*モーダルのボタンの色を変更したい場合*/
.modaal-close:after,
.modaal-close:before {
	background: #ccc;
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before {
	background: #666;
}
