//フォント
@font-face {
	font-family: shin-go-r;
	src: url(../font/A-OTF-ShinGoPr6N-Regular.otf);
}
@font-face {
	font-family: shin-go-m;
	src: url(../font/A-OTF-ShinGoPr6N-Medium.otf);
}
@font-face {
	font-family: shin-go-b;
	src: url(../font/A-OTF-ShinGoPr6N-Bold.otf);
}

.top {
	//共通
	img {
		vertical-align: top;
		width: 100%;
	}

	.only-pc {
		@media screen and (min-width: 768px) {
			display: block !important;
		}
		@media screen and (max-width: 767px) {
			display: none !important;
		}
	}
	.only-sp {
		@media screen and (min-width: 768px) {
			display: none !important;
		}
		@media screen and (max-width: 767px) {
			display: block !important;
		}
	}
	.container {
		width: 93%;
		max-width: 1198px;
		margin: auto;
		@media screen and (max-width: 767px) {
			max-width: 400px;
		}
	}
	.title {
		color: #3e3e3e;
		font-family: vdl-gigajr;
		font-weight: 600;
		font-size: 65px;
		line-height: 1em;
	}
	.btn-more {
		width: 60%;
		aspect-ratio: 55/10;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: shin-go-r;
		font-size: 22px;
		color: #fff;
		background-image: url(../image/index/btn_more_pc.png);
		background-repeat: no-repeat;
		background-size: contain;
	}

	//メインビジュアル
	.mv {
		width: 100%;
		height: calc(100vh - 109px);
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		z-index: 1;
		.img-wrapper {
			width: 44%;
			max-width: 500px;
			transform: translateX(-35px) translateY(-5%);
		}
	}

	//コンテンツ
	.parallax-content {
		position: relative;
		z-index: 5;
		.mv-space {
			position: relative;
			width: 100%;
			height: calc(100vh - 109px);
			.bnr-wrapper {
				position: absolute;
				width: 54px;
				top: 45%;
				left: 0px;
				transform: translateY(-50%);
			}
		}

		//スポンサー
		.sponsor-top {
			width: 100%;
			height: 378px;
			background-color: rgba($color: #e4e4e4, $alpha: 0.36);
		}

		//about
		.about {
			width: 100%;
			padding-top: 220px;
			padding-bottom: 150px;
			.text-container {
				width: 100%;
				height: 396px;
				display: flex;
				justify-content: space-between;
				margin-bottom: 90px;
				.text-wrapper {
					color: #3e3e3e;
					.title-another {
						position: relative;
						display: inline-block;
						margin-top: 20px;
						font-family: shin-go-b;
						font-size: 28px;
						line-height: 40px;
						//ふきだし
						&::before {
							content: "";
							position: absolute;
							width: 75px;
							height: 40px;
							top: -20px;
							left: 168px;
							background-image: url(../image/index/balloon.svg);
							background-repeat: no-repeat;
							background-size: contain;
						}
						.fs-l {
							font-size: 54px;
							line-height: 54px;
						}
						.fs-s {
							font-size: 22px;
						}
					}
					.text {
						margin-top: 10px;
						font-family: shin-go-r;
						font-size: 16px;
						letter-spacing: 0.23em;
						line-height: 2.2em;
					}
				}
			}
			.btn-wrapper {
				width: 100%;
				display: flex;
				justify-content: space-between;
				a {
					width: 30%;
					max-width: 350px;
				}
			}
		}

		//event
		.event {
			width: 100%;
			padding-top: 60px;
			padding-bottom: 90px;
			background-image: url(../image/index/bg_event_pc.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			.bnr-wrapper {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin-top: 45px;
				padding: 0 21px;
				a {
					width: 48%;
					max-width: 540px;
					&:nth-child(n + 3) {
						margin-top: 50px;
					}
				}
			}
		}

		//cm
		.cm {
			padding: 100px 0 130px 0;
			background-color: #fff;
			.wrapper {
				display: flex;
				justify-content: space-between;
				margin-top: 45px;
			}
			.content {
				width: 46%;
				position: relative;
				display: inline-block;
				margin: 1px;
				background-repeat: no-repeat;
				background-size: cover;
			}
			.thumb-ttl {
				position: absolute;
				top: 12%;
				left: 5%;
				padding-left: 7px;
				font-family: vdl-gigajr;
				font-size: clamp(10px, 1.1vw, 16px);
				color: #fff;
				border-left: 9px solid #fff;
				span {
					display: inline-block;
					margin-top: 4px;
					font-size: clamp(20px, 2.8vw, 40px);
				}
			}
			.btn-more {
				position: absolute;
				bottom: 0px;
				right: 0px;
				transform: translateX(21px) translateY(50%);
			}
			.movie {
				background-image: url(../image/index/thumb_cm01.jpg);
			}
			.graphic {
				background-image: url(../image/index/thumb_cm02.jpg);
			}
		}

		.game {
			padding: 60px 0;
			background-image: url(../image/index/bg_event_pc.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			p {
				margin: 20px 0 13px;
				font-family: shin-go-r;
				font-style: 16px;
			}
			.thumb-wrapper {
				display: flex;
				justify-content: space-between;
				align-items: center;
				img {
					width: 46%;
				}
			}
			.btn-more {
				width: 328px;
				margin-top: 35px;
				margin-left: auto;
			}
		}

		.sponsor-bottom {
			background-color: #eee;
			.container {
				padding: 60px 67px;
				.thumb-wrapper {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					img {
						width: 31%;
						&:nth-child(n + 4) {
							margin-top: 50px;
						}
					}
				}
			}
		}
	}
}

// ----------------------------
// タブレット
// ----------------------------
@media screen and (max-width: 1023px) {
	.top {
		//共通
		.title {
			font-size: 54px;
		}

		//メインビジュアル
		.mv {
			.img-wrapper {
				width: 50%;
			}
		}

		//コンテンツ
		.parallax-content {
			position: relative;
			z-index: 5;
			.mv-space {
				width: 100%;
				height: calc(100vh - 109px);
			}

			//about
			.about {
				padding-top: 180px;
				padding-bottom: 150px;
				.text-container {
					height: auto;
					margin-bottom: 30px;
					.text-wrapper {
						.title-another {
							margin-top: 28px;
							font-size: 22px;
							line-height: 40px;
							//ふきだし
							&::before {
								width: 60px;
								height: 32px;
								top: -15px;
								left: 132px;
							}
							.fs-l {
								font-size: 44px;
								line-height: 44px;
							}
							.fs-s {
								font-size: 16px;
							}
						}
						.text {
							font-size: 14px;
							letter-spacing: 0.15em;
						}
					}
				}
			}

			//cm
			.cm {
				.thumb-ttl {
					border-width: 5px;
				}
				.btn-more {
					font-size: 14px;
				}
			}
		}
	}
}

// ----------------------------
// sp
// ----------------------------
@media screen and (max-width: 767px) {
	.top {
		.title {
			font-size: 35px;
		}
		.btn-more {
			font-size: 16px;
			aspect-ratio: 314/71;
			background-image: url(../image/index/btn_more_sp.png);
		}

		.mv .img-wrapper {
			width: 100%;
			max-width: 520px;
			transform: none;
		}
		.parallax-content {
			.sponsor-top {
				background-color: #fff;
			}

			.about {
				position: relative;
				padding-top: 50px;
				padding-bottom: 85px;
				background-color: #fff;
				z-index: -5;
				.text-container {
					display: block;
					.text-wrapper {
						text-align: center;
					}
				}
				&::before,
				&::after {
					content: "";
					position: absolute;
					width: 21.6%;
					max-width: 130px;
					height: 30%;
					background-image: url(../image/index/bg_line_pc.png);
					background-repeat: no-repeat;
					background-size: cover;
					background-position: bottom left;
				}
				&::before {
					top: 200px;
					left: 0px;
					transform: rotate(180deg);
				}
				&::after {
					bottom: 147px;
					right: 0px;
					z-index: -1;
				}
			}

			.event {
				background-image: url(../image/index/bg_event_sp.jpg);
				.container {
					.bnr-wrapper {
						flex-direction: column;
						padding: 0;
						a {
							width: 100%;
							max-width: none;
							&:nth-child(n + 2) {
								margin-top: 15px;
							}
						}
					}
				}
			}

			.cm {
				position: relative;
				z-index: -5;
				.container {
					.wrapper {
						flex-direction: column;
						.content {
							width: 100%;
							&:last-child {
								margin-top: 64px;
							}
							.btn-more {
								width: 157px;
								transform: translateY(50%);
							}
						}
					}
				}
				&::before,
				&::after {
					content: "";
					position: absolute;
					width: 21.6%;
					max-width: 130px;
					height: 30%;
					background-image: url(../image/index/bg_line_sp.png);
					background-repeat: no-repeat;
					background-size: contain;
					background-position: bottom left;
				}
				&::before {
					top: 432px;
					left: 0px;
					transform: rotate(180deg);
				}
				&::after {
					bottom: 56px;
					right: 0px;
					z-index: -1;
				}
			}

			.game {
				background-image: url(../image/index/bg_game_sp.jpg);
				.thumb-wrapper {
					flex-direction: column;
					img {
						width: 100%;
					}
				}
				.btn-more {
					width: 157px;
				}
			}

			.sponsor-bottom {
				.container {
					.thumb-wrapper {
						flex-direction: column;
						img {
							width: 100%;
							&:nth-child(n + 2) {
								margin-top: 20px;
							}
							&:nth-child(n + 5) {
								margin-top: 15px;
							}
							&:nth-child(4) {
								margin-top: 30px;
							}
						}
					}
				}
			}
		}
	}
}

//slick.js
.sponsor-top .slider-top {
	height: 300px;
	display: flex;
	align-items: center;
}
.slider-top .slick-slide {
	width: 320px;
	position: relative;
	overflow: hidden;
}
.slider-top .slick-slide div {
	margin: 0 17.5px;
}
.slider-top .slick-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(0.75);
}
.slider-top .slick-center {
	img {
		transform: scale(1);
	}
}

//ボタン
.slider-top .slick-arrow {
	width: 40px;
	height: 40px;
	cursor: pointer;
	border: none;
	outline: none;
	font-size: 0;
	position: absolute;
	bottom: -38px;
	z-index: 1;
}
.slider-top .slick-next {
	background-image: url(../image/common/btn/btn_r.png);
	background-size: cover;
	right: 50%;
	transform: translateX(225px);
	@media screen and (max-width: 767px) {
		transform: translateX(168px);
	}
}
.slider-top .slick-prev {
	background-image: url(../image/common/btn/btn_l.png);
	background-size: cover;
	left: 50%;
	transform: translateX(-225px);
	@media screen and (max-width: 767px) {
		transform: translateX(-168px);
	}
}

//下のバー
.dots-top .slick-dots {
	text-align: center;
	width: 330px;
	position: relative;
	margin: auto;
	&::before {
		content: "";
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 11px;
		background-color: #d9d9d9;
		border-radius: 10px;
		transform: skewX(-20deg);
	}
	@media screen and (max-width: 767px) {
		width: 240px;
	}
}
.dots-top .slick-dots li {
	display: inline-block;
	width: 10%;
}
.dots-top .slick-dots button {
	display: block;
	width: 100%;
	height: 10px;
	font-size: 0;
	padding: 0;
	border: 0;
	outline: none;
	cursor: pointer;
	background: #d9d9d9;
	border-radius: 10px;
	transform: skewX(-20deg);
}
.dots-top .slick-dots .slick-active button {
	background: linear-gradient(90deg, #99c955 0%, #30895e 100%);
}
