@font-face {
	font-family: shin-go-r;
	src: url(../font/A-OTF-ShinGoPr6N-Regular.otf);
}
@font-face {
	font-family: shin-go-b;
	src: url(../font/A-OTF-ShinGoPr6N-Bold.otf);
}

.only-sp {
	display: none;
}
a {
	cursor: pointer;
	color: #3e3e3e;
}
header {
	width: 100%;
	height: 109px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 1000;
	.logo-wrapper {
		width: 251.8px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.logo-icon {
			width: 52.71px;
		}
		.logo-text {
			width: 181px;
		}
	}
}

.main-content {
	max-width: 960px;
	margin: auto;
	padding-top: 109px;
	.page-ttl {
		width: 100%;
		padding-left: 20px;
		font-family: shin-go-b;
		font-size: 20px;
		line-height: 125px;
		color: #fff;
		background: linear-gradient(
				90deg,
				rgba(49, 137, 94),
				rgba(239, 247, 229, 0.6)
			),
			url(../image/common/bg/bg_dot.svg);
	}
	.crumb-list {
		display: flex;
		align-items: center;
		font-family: shin-go-r;
		font-size: 14px;
		a:hover {
			text-decoration: underline;
		}
	}
	.container {
		width: 90%;
		display: flex;
		justify-content: space-between;
		margin: 57px auto 0;
		.text-wrapper {
			width: 70%;
			padding: 30px 50px;
			background-color: #f5f5f5;
			p {
				font-family: shin-go-r;
				font-size: 14px;
				line-height: 1.7em;
				color: #3e3e3e;
			}
		}
		.news-list {
			width: 25.6%;
			height: fit-content;
			background-color: #f5f5f5;
			h2 {
				padding-top: 20px;
				padding-left: 14.5px;
				font-size: 18px;
				font-family: vdl-gigajr;
				font-weight: 600;
				line-height: 2em;
				color: #0d2e4f;
				transform: matrix(0.99, 0, -0.12, 1, 0, 0);
			}
			ul {
				border-top: 2px solid #0d2e4f;
				li {
					&:not(:last-child) {
						border-bottom: 1px solid #cecece;
					}
				}
				a {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 8px 10px;
					font-family: shin-go-r;
					font-size: 12px;
					line-height: 1.7em;
					img {
						width: 8px;
						height: 8px;
						transform: rotate(-90deg);
					}
				}
			}
		}
	}
	.btn-wrapper {
		width: 90%;
		margin: 94px auto 95px;
		a {
			display: inline-block;
			width: 155px;
			height: 41px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: shin-go-r;
			font-size: 14px;
			color: #fff;
			background-image: url(../image/news/btn_back.png);
			background-size: contain;
			background-repeat: no-repeat;
			img {
				width: 11px;
				height: 9px;
				margin-right: 10px;
				transform: translateY(-1px) rotate(90deg);
			}
		}
	}
}

/* フッター */
footer {
	width: 100%;
	padding: 50px 30px;
	background-color: #0d2e4f;
	color: #fff;
	.f-container {
		display: block;
		max-width: 300px;
		margin: auto;
		.left-content {
			width: 210px;
			margin: auto;
		}
		.right-content {
			margin-top: 30px;
			.top-content {
				display: flex;
				justify-content: center;
				margin-bottom: 14px;
				h3 {
					font-size: 13px;
				}
				a {
					font-size: 10px;
					margin-left: 8px;
					margin-bottom: 1px;
					text-decoration: underline;
				}
			}
			p {
				width: fit-content;
				margin: auto;
				font-size: 10px;
				line-height: 1.7em;
			}
			small {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 10px;
				margin-top: 20px;
				span {
					font-size: 15px;
					margin-right: 3px;
				}
			}
		}
	}
}
@media screen and (min-width: 1024px) {
	footer {
		padding: 50px 0;
		.f-container {
			width: 82%;
			max-width: none;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.left-content {
				width: 277px;
				margin: 0;
			}
			.right-content {
				margin: 0;
				.top-content {
					margin-bottom: 16px;
					h3 {
						font-size: 22px;
					}
					a {
						font-size: 18px;
					}
				}
				p,
				small {
					width: 100%;
					font-size: 18px;
				}
				small {
					justify-content: flex-end;
					text-align: right;
					span {
						margin-right: 4px;
						font-size: 27px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.only-pc {
		display: none !important;
	}
	.only-sp {
		display: block !important;
	}
	header {
		height: 56px;
		.logo-wrapper {
			width: 201px;
			.logo-icon {
				width: 43.6px;
			}
			.logo-text {
				width: 150px;
			}
		}
	}
	.main-content {
		padding-top: 76px;
		.page-ttl {
			padding: 36px 0 27px 38px;
			font-size: 14px;
			line-height: 1em;
		}
		.container {
			width: 100%;
			margin-top: 20px;
			padding: 0 20px;
			.text-wrapper {
				width: 100%;
				max-width: 600px;
				margin: auto;
				padding: 30px 20px;
			}
		}
		.btn-wrapper {
			max-width: 600px;
			margin-top: 20px;
			margin-bottom: 40px;
		}
	}
}
