@font-face {
	font-family: shin-go-r;
	src: url(../font/A-OTF-ShinGoPr6N-Regular.otf);
}

.sp {
	display: none;
}

header {
	width: 100%;
	height: 109px;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
	background-color: #fff;
	z-index: 100;
	.left-content {
		width: 250px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo-wrapper {
			width: 52px;
		}
		.text-wrapper {
			width: 181px;
		}
	}
	.right-content {
		display: flex;
		height: 100%;
	}
}

//メニュー再利用したいから外出した
.menu {
	cursor: pointer;
	height: fit-content;
	position: relative;
	margin-top: 33px;
	padding-right: 20px;
	transition: 0.3s;
	font-family: vdl-gigajr;
	font-size: 20px;
	&:nth-child(n + 2) {
		margin-left: 30px;
	}
	&:not(:last-child) {
		&::before {
			content: "";
			width: 12px;
			height: 13px;
			position: absolute;
			top: 20px;
			right: 0px;
			transform: translateY(-50%);
			background-image: url(../image/common/icon/arrow.svg);
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	.hover-content {
		display: none;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		padding: 13px 0px 13px 35px;
		background-color: #0d2e4f;
		color: #fff;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
		a {
			width: 100%;
			display: inline-block;
			position: relative;
			padding: 7px 41px 7px 0;
			font-family: shin-go-r;
			font-size: 18px;
			white-space: nowrap;
			&::before {
				content: "";
				width: 15px;
				height: 15px;
				position: absolute;
				top: 50%;
				left: -19px;
				transform: translateY(-50%) rotate(-90deg);
				background-image: url(../image/common/icon/icon_pol_pc.png);
				background-size: contain;
				background-repeat: no-repeat;
				opacity: 0;
				transition: 0.3s;
			}
			&:hover {
				&::before {
					opacity: 1;
				}
			}
		}
	}
	&:hover {
		padding-bottom: 10px;
		.hover-content {
			display: block;
		}
	}
}

.main-content {
	padding-top: 109px;
}

footer {
	width: 100%;
	background-color: #0d2e4f;
	color: #fff;
	.container {
		width: 90%;
		max-width: 1200px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: auto;
		padding: 50px 0;
		.left-content {
			width: 277px;
			margin-left: 13px;
		}
		.right-content {
			.top-content {
				display: flex;
				align-items: flex-end;
				margin-bottom: 17px;
				h3 {
					font-size: 22px;
					font-weight: bold;
				}
				a {
					font-size: 18px;
					margin-left: 23px;
					text-decoration: underline;
				}
			}
			p {
				margin-bottom: 30px;
				font-size: 18px;
			}
			small {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				font-size: 18px;
				font-weight: 300;
				span {
					font-size: 32px;
					line-height: 18px;
					margin-right: 8px;
				}
			}
		}
	}
}

// タブレット
@media screen and (max-width: 1023px) {
	header {
		padding: 0 40px;
	}
	footer {
		.container {
			width: 92%;
			.left-content {
				width: 220px;
				margin-left: 0;
			}
			.right-content {
				.top-content {
					h3 {
						font-size: 20px;
					}
					a {
						font-size: 16px;
					}
				}
				p,
				small {
					font-size: 16px;
				}
				small {
					line-height: 20px;
					span {
						font-size: 28px;
						margin-right: 4px;
					}
				}
			}
		}
	}
}

// sp
@media screen and (max-width: 767px) {
	header {
		height: 80px;
		display: block;
		padding-left: 20px;
		padding-top: 25px;
		.left-content {
			width: 200px;
			.logo-wrapper {
				width: 43px;
				height: 40px;
			}
			.text-wrapper {
				width: 140px;
			}
		}
		.pc {
			display: none;
		}
	}
	//ハンバーガーメニューが閉じている時
	.humb-menu-icon {
		width: 50px;
		height: 50px;
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 20px;
		right: 20px;
		background-color: #0d2e4f;
		border-radius: 50%;
		border: 2px solid #fff;
		z-index: 100;
		cursor: pointer;
		.bar-wrapper {
			width: 22px;
			display: flex;
			flex-wrap: wrap;
			.top-bar,
			.middle-bar,
			.bottom-bar {
				display: inline-block;
				width: 100%;
				height: 2px;
				background-color: #fff;
				border-radius: 1px;
				transition: 0.3s;
				&:nth-child(n + 2) {
					margin-top: 3px;
				}
			}
		}
	}
	.sp-menu {
		.menu-content {
			position: fixed;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100vh;
			padding-left: 24px;
			padding-right: 24px;
			background-color: #0d2e4f;
			color: #fff;
			top: -100%;
			transition: 0.6s cubic-bezier(0.17, 0, 0.1, 0.99);
			z-index: 90;
			.menu-container {
				max-width: 326px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				.menu {
					width: 140px;
					display: inline-block;
					margin-top: 0px;
					margin-left: 0px;
					&:nth-child(n + 3) {
						margin-top: 16px;
					}
					p {
						display: inline-block;
						font-size: 35px;
					}
					&::before {
						display: none;
					}
					.hover-content {
						display: flex;
						flex-direction: column;
						position: static;
						padding: 0;
						transform: translate(0);
						box-shadow: none;
						a {
							width: fit-content;
							font-size: 16px;
							padding-left: 28px;
							padding-right: 0px;
							&::before {
								background-image: url(../image/common/icon/icon_pol_sp.png);
								opacity: 1;
								left: 4px;
							}
						}
					}
					&:hover {
						padding-bottom: 0;
					}
				}
			}
			.news-btn {
				width: 156px;
				height: 70px;
				display: none;
				align-items: center;
				justify-content: center;
				position: fixed;
				bottom: 90px;
				right: 0px;
				font-size: 12px;
				text-align: center;
				background-image: url(../image/common/btn/bnr_bg_news.png);
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
	}
	//ハンバーガーメニューが開いてる時
	//ヘッダー部分
	.menu-open {
		background-color: #0d2e4f;
		z-index: 100;
		.left-content {
			.text-wrapper {
				svg {
					path {
						fill: #fff;
					}
				}
			}
		}
	}
	//ハンバーガーメニューの内容部分
	.menu-open {
		.humb-menu-icon {
			.bar-wrapper {
				.top-bar {
					transform: translateY(50%) rotate(-45deg);
				}
				.middle-bar {
					display: none;
				}
				.bottom-bar {
					margin: 0px;
					transform: translateY(-50%) rotate(45deg);
				}
			}
		}
		.menu-content {
			transform: translateY(100%);
			.news-btn {
				display: flex;
			}
		}
	}
	.main-content {
		padding-top: 80px;
	}
	footer {
		.container {
			display: block;
			.left-content {
				margin: auto;
			}
			.right-content {
				margin-top: 30px;
				.top-content {
					justify-content: center;
					margin-bottom: 14px;
					h3 {
						line-height: 13px;
						font-size: 13px;
					}
					a {
						line-height: 10px;
						font-size: 10px;
						margin-left: 8px;
						margin-bottom: 1px;
					}
				}
				p {
					width: fit-content;
					margin: auto;
					font-size: 10px;
				}
				small {
					justify-content: center;
					font-size: 10px;
					margin-top: 20px;
				}
			}
		}
	}
}
