@font-face {
	font-family: shin-go-r;
	src: url(../font/A-OTF-ShinGoPr6N-Regular.otf);
}

@font-face {
	font-family: shin-go-b;
	src: url(../font/A-OTF-ShinGoPr6N-Bold.otf);
}

html {
	height: -webkit-fill-available;
}

a {
	cursor: pointer;
}

header {
	position: fixed;
	width: 100%;
	height: 80px;
	padding-top: 25px;
	padding-left: 20px;
	background-color: #fff;
	z-index: 500;

	.logo-wrapper {
		display: flex;
		width: 208px;
		align-items: center;
		justify-content: space-between;
		.logo-icon {
			width: 20.6%;
		}
		.logo-text {
			width: 72.1%;
		}
	}

	.right-content {
		position: absolute;
		width: 100%;
		min-height: 100vh; /* Fallback */
		min-height: calc(var(--vh, 1vh) * 100);
		top: 0px;
		left: 100%;
		padding: 25px 20px;
		color: #fff;
		background-color: #0d2e4f;

		// ------------------------
		// ナビゲーション
		// ------------------------
		.menu-wrapper {
			position: relative;
			width: 100%;
			max-width: 330px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding: 0 4px;
			margin: 18vh auto 0 auto;
		}
		.menu {
			width: 44.7%;
			&:nth-child(n + 3) {
				margin-top: 40px;
			}
		}
		.menu-ttl {
			display: inline-block;
			margin-bottom: 20px;
			font-family: vdl-gigajr;
			font-size: 35px;
		}
		.menu-contents {
			a {
				position: relative;
				display: block;
				padding-left: 25px;
				font-family: shin-go-b;
				font-size: 16px;
				// 緑の三角矢印
				&::before {
					content: "";
					width: 18px;
					height: 13px;
					position: absolute;
					top: 50%;
					left: 2px;
					transform: translateY(-50%);
					background-image: url(../image/common/icon/icon_pol.svg);
					background-repeat: no-repeat;
					background-size: contain;
				}
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
		}

		// ------------------------
		// 感染者情報バナー
		// ------------------------
		.bnr-news {
			position: absolute;
			display: flex;
			width: 41%;
			max-width: 200px;
			aspect-ratio: 78/35;
			right: 0px;
			bottom: 90px;
			justify-content: center;
			align-items: center;
			text-align: center;
			font-size: 12px;
			font-family: shin-go-b;
			line-height: 1.25em;
			background-image: url(../image/common/btn/bnr_bg_news.png);
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}

.hamburger-active {
	transition: 0.6s;
	transition-timing-function: cubic-bezier(0.17, 0.04, 0.03, 1.02);
	transform: translateX(-100%);
}

.hamburger-btn {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 17px 13px;
	background-color: #0d2e4f;
	border-radius: 50vw;
	border: 2px solid #fff;
	z-index: 600;
	cursor: pointer;
	span {
		display: inline-block;
		width: 100%;
		height: 2px;
		background-color: #fff;
		border-radius: 50vw;
		transition: 0.3s;
	}
}

.hamburger-btn-active {
	span:nth-child(1) {
		transform: translateY(5px) rotate(-45deg);
	}
	span:nth-child(2) {
		display: none;
	}
	span:nth-child(3) {
		transform: translateY(-5px) rotate(45deg);
	}
}

.anchor-btn {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 40px;
	right: 10px;
	z-index: 600;
	img {
		filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
	}
}

.container-anchor {
	padding-top: 80px;
}

.main-content {
	padding-top: 80px;
}

footer {
	width: 100%;
	padding: 50px 30px;
	background-color: #0d2e4f;
	color: #fff;
	.f-container {
		display: block;
		max-width: 300px;
		margin: auto;
		.left-content {
			width: 210px;
			margin: auto;
		}
		.right-content {
			margin-top: 30px;
			font-family: shin-go-r;
			.top-content {
				display: flex;
				justify-content: center;
				margin-bottom: 14px;
				h3 {
					font-size: 13px;
					font-family: shin-go-b;
				}
				a {
					font-size: 10px;
					margin-left: 8px;
					margin-bottom: 1px;
					text-decoration: underline;
				}
			}
			p {
				width: fit-content;
				margin: auto;
				font-size: 10px;
				line-height: 1.7em;
			}
			small {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 10px;
				margin-top: 20px;
				span {
					font-size: 15px;
					margin-right: 3px;
				}
			}
		}
	}
}

// タブレット
@media screen and (min-width: 768px) {
	header {
		height: 109px;
		padding: 0 50px;
		.left-content {
			height: 100%;
			display: flex;
			align-items: center;
			.logo-wrapper {
				width: 251px;
			}
		}
		.right-content {
			padding: 30px 50px;
			.menu-wrapper {
				max-width: 400px;
			}
			.menu:nth-child(n + 3) {
				margin-top: 64px;
			}
			.menu-ttl {
				font-size: 42px;
				margin-bottom: 28px;
			}
			.menu-contents {
				a {
					font-size: 20px;
					&:not(:last-child) {
						margin-bottom: 28px;
					}
				}
			}
			.bnr-news {
				max-width: 240px;
				font-size: 16px;
			}
		}
	}
	.hamburger-btn {
		width: 60px;
		height: 60px;
		padding: 20px 14px;
		top: 25px;
		right: 45px;
	}
	.hamburger-btn-active {
		span:nth-child(1) {
			transform: translateY(7px) rotate(-45deg);
		}
		span:nth-child(3) {
			transform: translateY(-7px) rotate(45deg);
		}
	}
	.anchor-btn {
		display: none !important;
	}
	.container-anchor {
		padding-top: 109px;
	}
	.main-content {
		padding-top: 109px;
	}
}

@media screen and (max-width: 1023px) {
	header {
		.right-content {
			transition: 0.6s;
		}
	}
}

// pc
@media screen and (min-width: 1024px) {
	.pc-none {
		display: none !important;
	}
	header {
		display: flex;
		justify-content: space-between;
		.right-content {
			position: static;
			width: auto;
			height: auto;
			min-height: 0%;
			padding: 0;
			background-color: #fff;
			.menu-wrapper {
				max-width: none;
				height: 100%;
				display: flex;
				align-items: center;
				margin: 0;
			}
			.menu {
				position: relative;
				width: auto;
				&:nth-child(n + 3) {
					margin: 0;
				}
				&:not(:last-child) {
					margin-right: 30px;
				}
				&:hover {
					margin-top: 20px;
					padding-bottom: 20px;
					.menu-contents {
						transition: 0.3s;
						opacity: 1;
						pointer-events: all;
					}
				}
			}
			.menu-ttl {
				position: relative;
				display: flex;
				align-items: center;
				margin: 0px;
				font-size: 20px;
				color: #3e3e3e;
				&:not(:last-child) {
					padding-right: 21px;
					&::before {
						content: "";
						position: absolute;
						width: 12px;
						height: 13px;
						top: 4px;
						right: 0px;
						background-image: url(../image/common/icon/arrow.svg);
						background-size: contain;
						background-repeat: no-repeat;
					}
				}
			}
			.menu-contents {
				position: absolute;
				top: 40px;
				left: 50%;
				transform: translateX(-50%);
				padding: 20px 37px 20px 10px;
				opacity: 0;
				background-color: #0d2e4f;
				box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
				white-space: nowrap;
				pointer-events: none;
				a {
					font-family: shin-go-r;
					&::before {
						opacity: 0;
						transition: 0.3s;
					}
					&:hover {
						&::before {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	footer {
		padding: 50px 0;
		.f-container {
			width: 82%;
			max-width: none;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.left-content {
				width: 277px;
				margin: 0;
			}
			.right-content {
				margin: 0;
				.top-content {
					margin-bottom: 16px;
					h3 {
						font-size: 22px;
					}
					a {
						font-size: 18px;
					}
				}
				p,
				small {
					width: 100%;
					font-size: 18px;
				}
				small {
					justify-content: flex-end;
					text-align: right;
					span {
						margin-right: 4px;
						font-size: 27px;
					}
				}
			}
		}
	}
}
